body{
background-color: #F6FAF3;
}
header{
background-color: #04CFC1;
width: 500px;

height: 70px;
border-radius: 5px;
position:fixed;
top: 5px;
left:282px;

}

ul li,a{
display: inline;
text-decoration: none;
font-size: 22px;
letter-spacing: 2;
font-family:serif;
padding: 12px;
font-weight: bold;;;
color:#EFEFEF;
}
nav{
  margin-left: 20px;
  margin-right: 20px;
margin-top: 5px;
margin-bottom: 5px;
width: 50px;
}
nav li a:hover{
background-color: #12A69A;
border-radius: 5px;
font-size: 24px;
b

}

.main{
  width: 954px;
margin-left: 277px;
border-radius: 5px;

//  border-style: solid;
//  border-color: red;
  height: 1000px;
  background-color: #D0CECE;
  //width: 1200px;
  margin-top:80px;
}
.grid_4 img{
  margin-top: 32px;
  margin-right: 5px;
  margin-left: 10px;
}
.grid_4 h3{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #333;
  font-family: sans-serif;
}
.grid_4 span{
  margin-top: 0px;
  font-family: sans-serif;
  color:#666;
  font-size: 12px;

}
footer{
  border-radius: 5px;
  margin-top: 55px;
  background-color: #222;

clear: both;
 height: 100px;
}
.copyright{
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  width: 340px;
}
.copyright-links{
  margin-left: 10px;
  width: 300px;
  font-family: serif;
  color: white;
}
.copyright p{
  color: white;
  font-family: serif;

  margin: 0px 19px;
  font-size: 15px;
}
.copyright-links a{
margin-left: 0px;
  color: white;
  font-size: 15px;
  font-family: serif;


}
footer ul li{
display: inline;;
}
footer img{
width: 48px;
height: 48px;
margin: 0px;
float: right;
}
